@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* grid */

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.grid-4,
.grid-5,
.grid-6,
.grid-14 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-4 {
  width: 220px;
}
.grid-5 {
  width: 280px;
}
.grid-6 {
  width: 340px;
}
.grid-14 {
  width: 820px;
}

/*768px é bom para tablets e telas que tenham mais ou menos 9" de tela.*/

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .container {
    width: 768px;
  }

  .grid-4 {
    width: 172px;
  }
  .grid-5 {
    width: 220px;
  }
  .grid-6 {
    width: 268px;
  }
  .grid-14 {
    width: 652px;
  }
}

@media only screen and (max-width: 787px) {
  .container {
    width: 300px;
  }
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-14 {
    width: 300px;
    margin: 0 0 20px 0;
    float: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 1em;
  font-weight: normal;
  list-style: none;
}

body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
  width: 910px;
  overflow: hidden;
  margin: 20px auto;
}

.header img {
  display: inline-block;
  margin-top: 20px;
}

.header ul {
  color: #fff;
  font-size: 80px;
  letter-spacing: 50px;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}

/*call out*/
.box-call {
  width: 100%;
  overflow: hidden;
  height: 310px;
}
.call {
  margin-top: 150px;
  background-color: #f7ff00;
  width: 135%;
  margin-left: -20px;
  transform: rotate(8deg);
  box-sizing: border-box;
  white-space: nowrap;
  transition: 0.6s;
  color: #000;
}

.call p {
  font-size: 6vw;
  text-transform: uppercase;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll 1s linear infinite;
  -webkit-animation: scroll 1s linear infinite;
  animation: scroll 10s linear infinite;
  display: inline-block;
  margin-left: 50px;
}

.call a {
  color: #000;
}

.call:hover {
  background-color: #fff;
}

/*form*/
.formulario {
  top: 50px;
}

.formulario h2 {
  color: #fff;
  font-size: 2vw;
  text-align: center;
  margin-bottom: 20px;
}

.formulario #form {
  width: 600px;
  margin-left: 44%;
  transform: translateX(-50%);
  border: 3px solid #f7ff00;
  height: 38px;
  background: none;
  color: #f7ff00;
  font-size: 18px;
  padding: 0 5px;
  outline: none;
}

.formulario button {
  border: 3px solid #f7ff00;
  background: none;
  height: 38px;
  width: 100px;
  font-size: 18px;
  padding: 0 5px;
  color: #f7ff00;
  margin-left: -280px;
  position: relative;
  transition: 0.6s;
  cursor: pointer;
}

.formulario button:hover {
  background: #f7ff00;
  color: #000;
}

/* call promocao */
.call-box-promocao {
  overflow: hidden;
}

.call-promocao {
  margin-top: 100px;
  width: 100%;
  background-color: #f7ff00;
}

.call-promocao h2 {
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
}

/* produtos haori */
.haori ul li img {
  width: 500px;
  position: absolute;
  margin-top: 40px;
}

.haori .haori-vermelho {
  z-index: 1;
}

.haori .haori-preto {
  margin-left: 150px;
  margin-top: 150px;
  z-index: 1;
}

.info-produto-haori {
  height: 130px;
  background-color: #f7ff00;
  width: 100%;
  font-size: 20px;
  position: relative;
  z-index: 0;
  margin-top: 450px;
  padding-top: 20px;
}

.info-produto-haori h2 {
  max-width: 50px;
  position: absolute;
  right: 150px;
}

.info-produto-haori p {
  max-width: 190px;
  position: absolute;
  right: 140px;
  top: 25px;
}

.info-produto-haori button {
  border: 3px solid #000;
  background: #f7ff00;
  height: 38px;
  width: 200px;
  color: #000;
  text-transform: uppercase;
  position: absolute;
  right: 160px;
  top: 65px;
  transition: 0.6s;
  cursor: pointer;
}

.info-produto-haori button:hover {
  border: 3px solid #000;
  background: #000;
  color: #fff;
}

/* info produtos bermuda */
.camisa ul li img {
  width: 350px;
  position: absolute;
  margin-top: 40px;
}

.camisa .camisa-vermelho {
  z-index: 1;
  right: 140px;
}

.camisa .camisa-preto {
  right: 280px;
  margin-top: 150px;
  z-index: 1;
}

.info-produto-camisa {
  height: 130px;
  background-color: #f7ff00;
  width: 100%;
  font-size: 20px;
  position: relative;
  z-index: 0;
  margin-top: 350px;
  padding-top: 20px;
}

.info-produto-camisa h2 {
  max-width: 50px;
  position: absolute;
  left: 40px;
}

.info-produto-camisa p {
  position: absolute;
  left: 50px;
  top: 25px;
}

.info-produto-camisa button {
  border: 3px solid #000;
  background: none;
  height: 38px;
  width: 200px;

  color: #000;
  text-transform: uppercase;
  position: absolute;
  left: 50px;
  top: 65px;
  transition: 0.6s;
  cursor: pointer;
}

.info-produto-camisa button:hover {
  border: 3px solid #000;
  background: #000;
  color: #fff;
}

/* produtos bermuda */
.bermuda ul li img {
  width: 350px;
  position: absolute;
  margin-top: 40px;
}

.bermuda .bermuda-vermelho {
  z-index: 1;
}

.bermuda .bermuda-preto {
  margin-left: 150px;
  margin-top: 150px;
  z-index: 1;
}

.info-produto-bermuda {
  height: 130px;
  background-color: #f7ff00;
  width: 100%;
  font-size: 20px;
  position: relative;
  z-index: 0;
  margin-top: 365px;
  padding-top: 20px;
}

.info-produto-bermuda h2 {
  max-width: 50px;
  position: absolute;
  right: 130px;
  transform: translateX(-100%);
}

.info-produto-bermuda p {
  max-width: 190px;
  position: absolute;
  right: -50px;
  transform: translateX(-100%);
  top: 25px;
}

.info-produto-bermuda button {
  border: 3px solid #000;
  background: none;
  height: 38px;
  width: 200px;
  color: #000;
  text-transform: uppercase;
  position: absolute;
  right: 160px;
  top: 65px;
  transition: 0.6s;
  cursor: pointer;
}

.info-produto-bermuda button:hover {
  border: 3px solid #000;
  background: #000;
  color: #fff;
}

/* footer */
.footer {
  position: relative;
  color: #fff;
  height: 150px;
}

.footer h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.footer h2:after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin-top: 8px;
}

.footer .sobre p {
  width: 300px;
  font-size: 16px;
}

.footer .fale-com ul li {
  font-size: 16px;
  margin-bottom: 8px;
}

.footer .redes ul li {
  display: inline-block;
  border: 2px solid #fff;
  margin-right: 10px;
  padding: 5px;
}

.feito-por {
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
}

.feito-por a {
  color: #f7ff00;
}

.feito-por:before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 30px auto;
}

/* responsivo */
/*Estilo para tablet*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .header {
    width: 718px;
    overflow: hidden;
    margin: 0 auto;
  }

  .header ul {
    font-size: 75px;
  }

  .header img {
    width: 200px;
  }

  .call {
    margin-top: 100px;
  }

  .formulario {
    margin-top: -80px;
  }

  .formulario #form {
    width: 400px;
    margin-left: 43%;
    transform: translateX(-50%);
  }

  .formulario button {
    margin-left: -190px;
  }

  .call-promocao {
    margin-top: 130px;
  }

  .info-produto-haori h2 {
    right: 0;
  }

  .info-produto-haori p {
    right: -8px;
  }

  .info-produto-haori button {
    right: 10px;
  }

  .camisa .camisa-vermelho {
    right: 0px;
  }

  .camisa .camisa-preto {
    right: 150px;
  }

  .bermuda ul li img {
    width: 340px;
  }

  .bermuda .bermuda-vermelho {
    left: 0;
  }

  .bermuda .bermuda-preto {
    margin-left: 140px;
  }

  .info-produto-bermuda h2 {
    right: 0;
  }

  .info-produto-bermuda p {
    right: -180px;
  }

  .info-produto-bermuda button {
    right: 30px;
  }

  .footer .sobre p {
    width: 250px;
  }

  .footer .fale-com ul li {
    width: 245px;
  }

  .footer .redes {
    margin-left: 50px;
  }
}

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {
  .header {
    width: 350px;
    overflow: hidden;
    margin: 0 auto;
  }

  .header img {
    width: 100px;
    margin-left: -20px;
  }

  .header ul {
    font-size: 25px;
    letter-spacing: 25px;
    right: -40px;
  }

  .box-call {
    margin-top: -35px;
  }

  .call {
    margin-top: 100px;
  }

  .call p {
    font-size: 50px;
  }

  .formulario {
    margin-top: -120px;
    margin: o auto;
  }

  .formulario h2 {
    font-size: 18px;
    margin-left: auto;
    width: 300px;
  }

  .formulario #form {
    width: 200px;
    margin-left: auto;
    transform: translateX(0);
  }

  .formulario button {
    right: -290px;
    width: 90px;
  }

  .call-promocao {
    margin-top: 130px;
    width: 100%;
  }

  .call-promocao h2 {
    font-size: 18px;
    padding: 5px;
  }

  /* haori */
  .haori ul li img {
    width: 300px;
  }

  .haori .haori-vermelho {
    left: -20px;
  }

  .haori .haori-preto {
    left: -140px;
  }

  .info-produto-haori {
    height: 200px;
    margin-top: 320px;
  }

  .info-produto-haori h2 {
    left: 0px;
    top: 65px;
  }

  .info-produto-haori p {
    left: 0px;
    top: 85px;
  }

  .info-produto-haori button {
    left: 0px;
    top: 120px;
  }

  /* camisa */
  .camisa ul li img {
    width: 250px;
  }

  .camisa .camisa-vermelho {
    left: -20px;
  }

  .camisa .camisa-preto {
    left: 60px;
  }

  .info-produto-camisa {
    height: 200px;
    margin-top: 290px;
  }

  .info-produto-camisa h2 {
    left: 0px;
    top: 65px;
  }

  .info-produto-camisa p {
    left: 0px;
    top: 85px;
  }

  .info-produto-camisa button {
    left: 0px;
    top: 120px;
  }

  /* bermuda */
  .bermuda ul li img {
    width: 230px;
  }

  .bermuda .bermuda-vermelho {
    left: -20px;
  }

  .bermuda .bermuda-preto {
    left: -80px;
  }

  .info-produto-bermuda {
    height: 200px;
    margin-top: 290px;
  }

  .info-produto-bermuda h2 {
    left: 50px;
    top: 65px;
  }

  .info-produto-bermuda p {
    left: 190px;
    top: 85px;
  }

  .info-produto-bermuda button {
    left: 0px;
    top: 120px;
  }

  .footer .sobre {
    margin-bottom: 30px;
  }

  .footer .fale-com {
    margin-bottom: 30px;
  }
}

@-moz-keyframes scroll {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
